@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu_Light/Ubuntu-Light.eot?") format("eot"), url("../fonts/Ubuntu_Light/Ubuntu-Light.woff") format("woff"), url("../fonts/Ubuntu_Light/Ubuntu-Light.ttf") format("truetype"), url("../fonts/Ubuntu_Light/Ubuntu-Light.svg#Ubuntu-Light") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Champagne__amp__Limousines";
    src: url("../fonts/Champagne__amp__Limousines/Champagne_Limousines.eot?") format("eot"), url("../fonts/Champagne__amp__Limousines/Champagne_Limousines.woff") format("woff"), url("../fonts/Champagne__amp__Limousines/Champagne_Limousines.ttf") format("truetype"), url("../fonts/Champagne__amp__Limousines/Champagne_Limousines.svg#Candice") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto_Light/Roboto-Light.eot?") format("eot"), url("../fonts/Roboto_Light/Roboto-Light.woff") format("woff"), url("../fonts/Roboto_Light/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto_Light/Roboto-Light.svg#NeuropolXFree") format("svg");
    font-weight: normal;
    font-style: normal;
}

html, body, div, a, p, img, ul, li, footer, header, section, h1, span, a img, aside, form, input, article, h2, h3, h4, label {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}
body {
    width: 100%;
    
   font-family: Georgia, Times New Roman, Times, serif;
    background: url("../img/dotnoise.png")repeat scroll 0 0 #000000;
    color: #000;
    -webkit-text-size-adjust: 100%;
    line-height: 1.35em;
}
h1{
    font-size: 1.2em;
}
body a {
    color: #000;
}
body a:hover, h5:hover {
    color: maroon;
}


body footer {
    border-top: dotted 1px #000;
}

a:hover, header ul a {
    color: #111;
}
a, header ul li a:hover {
    color: #ff9300;
}

#contact-info{
   
    color: #002957;
    font-size: small;
}
#contact-info p{
    font-family: Georgia;
}
#contact-info p:hover{
    
    color: #1b1b1b;
}
.header {
    float: left;
    position: fixed;
    background: url("../img/dotnoise.png")repeat scroll 0 0 #000000;
    z-index: 999;
    height: 80px;
    margin: -150px 0 0 0px;
    width: 100%;
}
.header ul {
    position:relative;
    top:34px;
    left:25px;
    
}
.header ul li {
    font-size: 10pt;
    display: inline;
    margin: 0px 10px;
}


.header-scrolled{
    box-shadow: 0 1px 0 #D2D2D3, 0 1px 3px rgba(0,0,0,0.2);
}
.logo{
    padding-top:5px;
}
.logo a {
    float: left;
    font-family:Champagne__amp__Limousines;
    margin: -18px 0 0 185px;
    font-size: 3em;
}

.logo font{
    float: left;
    margin: 45px 0 0px -165px;
    font-size: medium;
    position:relative;
    left:166px;
    top:-14px;
}
.logo img{
    position:relative;
    left:-125px;
}

.logo a:hover {
    text-decoration: none;
}

#slider {
    width: 960px;
    height: 300px;
    margin: 150px 0 0 168px;
    background: #ffffff;
    box-shadow: 0px -0.5px 7px 1px #1f1f1f;
}

#main_container {
    width:960px;
    margin: 20px 0 0 170px ;

}


#principal_message
{
    width: 600px;
    float: left;
}
#principal_message h1{
    font-family:Champagne__amp__Limousines;
    letter-spacing:2;
    font-weight: 1000;
}

.active{
    color:#0099cc;
}
.message-content{
    font-size: 10.5pt;
    text-align: justify;
}
#message-content #first-para{
    margin-left:150px;
    
}
.recent_news_event{
    margin-top:10px;
}
.recent_news_event li{
    list-style-type: none;
    font-size: small;
}
.recent_news_event h5:hover{
    color:maroon;
}

.more-info{
    color: #0088cc;
    margin-left:10px;
    font-weight: bold;
}
.more-info:hover{
    color:#002957;
    text-decoration: none;
    font-weight: bold;
}

footer {
    width: 960px;
    text-align: center;
    float: left;
    margin-left:175px;
    margin-top:30px;
    padding: 10px 0 ;
    border-top: dotted 1px #ddd;
}

/*presentation content*/
#show-up{
    margin-top:60px;
}

#show-up h1{
    padding-left:335px;
    padding-bottom: 100px;
}

#show-up p{
    font-size: 10em;
    padding:15px 335px 115px;
    text-align: justify;
}



